*{
padding: 0;
margin: 0;
box-sizing: border-box;
}


h1{
    text-align: center;
    font-size: 42px;
    /* padding: 15px; */
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
footer{
    text-align: center;
    font-size: 23px;
}
.bodyelement{
    background-color: #5e575e;
 max-width: 650px;
 padding: 20px;
    margin: 40px auto;
    /* height: 100vh; */
    border-radius: 5px;
}

.watch{
width: 250px;
min-height: 70px;
margin: 30px auto;
display: block;
background-color: rgb(12, 26, 26);
color:white;
text-align: center;
padding: 10px 5px;
font-weight: 500;
font-size: 34px;
border-radius: 2px;
    
}
select{
    width:100%;
    padding: 5px;
    display: block;
    font-size: 27px;
    outline: none;
}
#cities{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px 0;
    border-bottom: 1px dashed #fff;
}
.year{
    font-size: 35px;
    font-weight: 700;
    /* padding: 10px; */
    color: #fff;
}
.city{
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
}
.date{
    font-size: 15px;
    color: #fff;
    opacity: 0.7;
}
#cities:last-child{
    border: none;

}

@media(max-width:700px){
    footer{
        font-size: 12px;
    }
}
