*{
padding: 0;
margin: 0;
box-sizing: border-box;
}


h1{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    text-align: center;
}
.bodyelement{
    background-color: rgba(226, 224, 217, 0.8);
 max-width: 700px;
    margin: 10px auto;
    height: 100vh;
    border-radius: 5px;
}

.watch{
width: 250px;
min-height: 70px;
margin: 30px auto;
display: block;
background-color: rgb(12, 26, 26);
color:white;
text-align: center;
padding: 10px 5px;
font-weight: 500;
font-size: 28px;
border-radius: 2px;
    
}
select{
    width:100%;
    padding: 5px;
    display: block;
}


